<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/shtz?characterEncoding=utf-8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping resource="com/shtz/model/ACL.hbm.xml"/>
    <mapping resource="com/shtz/model/Module.hbm.xml"/>
    <mapping resource="com/shtz/model/Organization.hbm.xml"/>
    <mapping resource="com/shtz/model/Person.hbm.xml"/>
    <mapping resource="com/shtz/model/Role.hbm.xml"/>
    <mapping resource="com/shtz/model/Suppliers.hbm.xml"/>
    <mapping resource="com/shtz/model/UseComp.hbm.xml"/>
    <mapping resource="com/shtz/model/User.hbm.xml"/>
    <mapping resource="com/shtz/model/UsersRoles.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
